@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@400;700&display=swap');

:root {
  --tamanho-header: 80px;
  --tamanho-footer: 65px;
  --tamanho-banner: calc(100vh - var(--tamanho-header) - var(--tamanho-footer) - 2px);
  --tamanho-login: calc(100vh - var(--tamanho-header) - var(--tamanho-footer) - 2px);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Cinzel Decorative', serif;
}

body {
    min-height: 100vh;
  background-color: #00000086;
  display: flex;
  flex-direction: column;
}

.header {
   height: var(--tamanho-header);
  border-bottom: 2px solid #000;
  background-color: rgba(0, 0, 0, 0.61); 
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}

.header .container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  
}

.header .titulo {
  background-image: url('../assets/icon/logosiyte.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: left;
  width: 300px;
  height: 80px;
  cursor: pointer;
  margin-right: 40px;
}

.navbar {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 69px;
  flex: 1;
  z-index: 100;
}

.navbar li a {
  text-decoration: none;
  color: #fff;
  font-weight: 500;
  font-size: 15px;
  transition: 0.3s;
}

.navbar li a:hover {
  color: #ff0606;
}

.btn-login,
.btn-cadastro {
  background-color: #29282850;
  color: #000000;
  border: none;
  border-radius: 10px;
  padding: 8px 20px;
  font-weight: bold;
  transition: 0.3s;
}

.btn-login:hover,
.btn-cadastro:hover {
  background-color: #000000;
}

.banner-cadastro {
  height: calc(120vh - var(--tamanho-header));
  background-image: url("../assets/imgs/fundocadast.png");
  width: 100%;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  background-size: cover;
  background-position: center;
}

.banner-cadastro video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
  filter: brightness(50%);
}

.card-box {
  display: flex;
  flex-direction: column;
  gap: 1px;            
  width: 450px;         
  padding: 18px;       
   background-color: rgba(0, 0, 0, 0.4);
  border: 2px solid #2d2d2d;
  border-radius: 10px;
  text-align: center;
  color: #ff0606;
}

.card-box h1 {
  font-size: 28px;
  font-weight: 700;
}

.card-box a {
  color: #000000;
  display: flex;
  justify-content: center;
  font-size: 10px;
  font-weight: 800;
}

.input-group {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.input {
   width: 100%;
    max-width: 450px;
    height: 44px;
    font-family: "Montserrat", serif;
    font-weight: 800;
    font-size: 1rem;
    background-color: #69686856;
    border-radius: 0.5rem;
    padding: 0 1rem;
    border: 2px solid #05060f;
    transition: 0.3s;
    margin: 0 auto 20px auto;
}

.input:hover,
.input:focus,
.input-group:hover .input {
  outline: none;
  border-color: #05060f;
}

.label {
  font-family: 'Cinzel Decorative', serif;
  margin-bottom: 0.3rem;
  font-size: 20px;
  font-weight: bold;
  color: #ffffff;
  transition: color 0.3s;
}

.input-group:hover .label,
.input:focus + .label {
  color: #ffffffc2;
}

.goBack {
  width: 100px;
  height: 100px;
}

.goBack img {
  height: 100px;
  width: 100px;
}

.log-text {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 8%;
  gap: 10px;
}

.log-text a {
  color: #05060f99;
  width: fit-content;
  height: fit-content;
}

.log-text .link-login {
  color: rgb(19, 156, 246);
}

.log-text .link-login:hover {
  color: rgb(16, 127, 202);
  filter: brightness(0.8);
}
.botao {
  width: 100%;
  padding: 12px;
  margin-top: 20px;

  background-color: rgba(8, 8, 8, 0.521);       
  color: white;                 
  font-size: 16px;               
  font-weight: bold;            

  border: 2px solid rgb(0, 0, 0);      
  border-radius: 8px;            

  cursor: pointer;               
  transition: 0.3s;              
}

.botao:hover {
  background-color: rgb(73, 2, 2);     
}

.footer {
  background-color: #111010;
  width: 100%;
  height: var(--tamanho-footer);
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: auto;
}

.footer .version {
  font-size: 12px;
}

