@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@400;700&display=swap');


:root {
  --tamanho-header: 80px;
  --tamanho-footer: 65px;
  --tamanho-banner: calc(100vh - var(--tamanho-header) - var(--tamanho-footer) - 2px);
  --tamanho-login: calc(100vh - var(--tamanho-header) - var(--tamanho-footer) - 2px);
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Cinzel Decorative', serif;
}


body {
  background-color: #000000;
  color: #333;
}


.janela {
  display: flex;
  min-height: 100vh;
}


.header-left {
  width: 250px;
  background: #ffffff;
  color: rgb(0, 0, 0);
  padding: 20px;
  display: flex;
  flex-direction: column;
}
.logo {
  text-align: center;
  margin-bottom: 30px;
}


.hello {
  color: #000000;
  margin-bottom: 30px;
  border-bottom: 1px solid #444;
  padding-bottom: 15px;
}

.hello h1 {
  font-size: 22px;
}

.hello span {
  color: #e62222;
}

.btn-nav,  .btn-logout {
  color: #ffffff;
  padding: 12px 15px;
  margin: 5px 0;
  border-radius: 6px;
  cursor: pointer;
  text-align: center;
  transition: 0.3s;
}


.btn-nav {
  background-color: #000000;
}

.btn-nav:hover {
  background-color: #600000;
}


.btn-selected {
  background-color: #000000;
  color: white;
}


.btn-logout {
  background-color: #000000;
  color: rgb(255, 255, 255);
  margin-top: auto;
}

.btn-logout:hover {
  background-color: #600000;
}


.dash-content {
  height: 40px;
  flex: 1;
  max-width: 1100px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  background-color: #000000;
  margin: 10px auto 0 auto;
}


.titulo {
  color: #e62222;
  font-size: 28px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 30px;
}


.cards {
  display: flex;
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap;
  width: 100%;
  margin-bottom: 40px;
}

.card {
  width: 246px;
  height: 120px;
  background: white;
  padding: 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  box-shadow: 0 4px 10px rgb(255, 0, 0);
}


.graficos-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 5px;
}

.box-grafico {
  background: white;
  width: 400px;
  height: 250px;
  padding: 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  box-shadow: 0 4px 10px rgb(231, 1, 1);
}

@media (max-width: 1024px) {
  .graficos-grid {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 768px) {
  .janela {
    flex-direction: column;
  }

  .header-left {
    width: 100%;
  }

  .cards {
    flex-direction: column;
  }

  .dash-content {
    padding: 20px;
    margin-left: 0;
  }
}
