@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@400;700&display=swap');

:root {
  --tamanho-header: 80px;
  --tamanho-footer: 65px;
  --tamanho-banner: calc(100vh - var(--tamanho-header) - var(--tamanho-footer) - 2px);
  --tamanho-login: calc(100vh - var(--tamanho-header) - var(--tamanho-footer) - 2px);
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Cinzel Decorative', serif;
}

html {
  scroll-behavior: smooth;
}
body {
    min-height: 100vh;
  background-color: #000000;
  display: flex;
  flex-direction: column;
}

.header {
   height: var(--tamanho-header);
  border-bottom: 2px solid #000;
  background-color: rgba(0, 0, 0, 0.61); 
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}

.header .container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  
}

.header .titulo {
  background-image: url('../assets/icon/logosiyte.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: left;
  width: 300px;
  height: 80px;
  cursor: pointer;
  margin-right: 40px;
}

.navbar {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 69px;
  flex: 1;
  z-index: 100;
}

.navbar li a {
  text-decoration: none;
  color: #fff;
  font-weight: 500;
  font-size: 15px;
  transition: 0.3s;
}

.navbar li a:hover {
  color: #ff0606;
}

.btn-login,
.btn-cadastro {
  background-color: #29282850;
  color: #000000;
  border: none;
  border-radius: 10px;
  padding: 8px 20px;
  font-weight: bold;
  transition: 0.3s;
}

.btn-login:hover,
.btn-cadastro:hover {
  background-color: #000000;
}

.banner {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative;
  overflow: hidden;
}

.banner video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 0;
}

.banner .container {
  z-index: 1;
}

.banner .container p {
  width: 45%;
  font-size: 25px;
  position: relative;
  top: 150px;
  left: 75px;
  color: #fff;
  text-shadow: 2px 2px 6px #000;
}

.social { 
  background-image: url("../assets/imgs/possivelfundo2.webp");
  background-repeat: no-repeat;
background-size: cover;
background-position: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 120px 0;
  min-height: 600px;
  flex: 1;
}

.social .container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  
}

.box, .box2 {
  background-color: #ffffff88;
  padding: 32px;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgb(0, 0, 0);
  width: 100%;
  max-width: 1100px;
  text-align: left;
  margin: auto;
  font-family: "Keania One", cursive;
  font-size: 35px;
  color: #1a1a1a;
}

.frase {
  font-size: 38px;
  font-weight: bold;
  margin-bottom: 30px;
  text-align: center;
  color: #fff;
  width: 100%;
  display: flex;
  justify-content: center;
}


.boxes {
  display: flex;
  align-items: flex-start; 
  justify-content: flex-start; 
  gap: 40px; 
  flex-wrap: wrap;
}


.conteudo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 40px;
  flex-wrap: wrap;
}

 .boxes {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
  flex-wrap: nowrap;
}
 .texto-historia {
  width: 55%;
  background-color: #ffffff88;
  padding: 32px;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.2);
  font-family: "Keania One", cursive;
  font-size: 20px;
  color: #1a1a1a;
}

 .imagem-historia {
  background-color: rgba(255, 255, 255, 0.1); 
  padding: 18px;
  border-radius: 10px;
  width: 40%;
  display: flex;
  justify-content: center;
  margin: auto;
}
.imagem-historia img{
   width: 100%;
  height: auto;

}

.conteudo-origem {
  display: flex;
  align-items: center;
   padding-bottom: 120px;
   margin: auto;
    gap: 40px;
    flex-wrap: nowrap
}

.imagem-quadrinho {
  background-color: rgba(255, 255, 255, 0.1); 
  padding: 18px;
    border-radius: 10px;
    width: 40%;
    display: flex;
    justify-content: center;
    margin: auto
  
}

.imagem-quadrinho img {
  width: 100%;
  height: auto;
  margin: auto;
}

.box2 {
  width: 60%;
  font-size: 18px;
  line-height: 1.5;
  font-size: 20px;
}


.footer {
  background-color: #111010ab;
  width: 100%;
  height: 100px;
  color: #fffdfd;
  display: flex;
  font-size: 15px;
  justify-content: center;
  align-items: center;
  margin-top: auto;
}

.footer .version {
  font-size: 12px;
}
