@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@400;700&display=swap');


:root {
  --tamanho-header: 80px;
  --tamanho-footer: 65px;
  --tamanho-banner: calc(100vh - var(--tamanho-header) - var(--tamanho-footer) - 2px);
  --tamanho-login: calc(100vh - var(--tamanho-header) - var(--tamanho-footer) - 2px);
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Cinzel Decorative', serif;
}


body {
  background-color: #000000;
  color: #333;
}


.janela {
  display: flex;
  min-height: 100vh;
}


.header-left {
  width: 250px;
  background-color: #ffffff;
  color: rgb(0, 0, 0);
  padding: 20px;
  display: flex;
  flex-direction: column;
}
.logo {
  text-align: center;
  margin-bottom: 30px;
}


.hello {
  color: #000000;
  margin-bottom: 30px;
  border-bottom: 1px solid #444;
  padding-bottom: 15px;
}

.hello h1 {
  font-size: 22px;
}

.hello span {
  color: #e62222;
}

.btn-nav,  .btn-logout {
  color: #f8f8f8;
  padding: 12px 15px;
  margin: 5px 0;
  border-radius: 6px;
  cursor: pointer;
  text-align: center;
  transition: 0.3s;
}


.btn-nav {
  background-color: #000000;
  color: whitesmoke;
}

.btn-nav:hover {
  background-color: #727272;
}





.btn-logout {
  background-color: #000000;
  color: rgb(255, 255, 255);
  margin-top: auto;
}

.btn-logout:hover {
  background-color: #600000;
}


.pontuacaoEJogo {
  margin-top: 40px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.btnIniciar {
  margin-top: 80px;
  background: #222;
  border: 1px solid #555;
  padding: 12px 26px;
  font-size: 18px;
  color: #e5dcdc;
  cursor: pointer;
  border-radius: 6px;
}

.btnIniciar:hover {
  background: #333;
}

.pontuacao {
 display: flex;
    flex-direction: column;      
    justify-content: center;     
    align-items: center;         
    text-align: center;          
    margin-bottom: 10px;
    width: 350px;
    background: #111;
    border: 1px solid #444;
    padding: 15px;
    border-radius: 8px;
    color: #e5dcdc;
}

.jogo {
  width: 650px;
  background: #ffffff;
  border: 1px solid #444;
  padding: 25px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-top: 40px;
}

.infoQuestao,
.infoAlternativas {
  font-size: 16px;
}



.option {
  display: flex;
  align-items: center;
  background: #ddd6d6;
  color: #000;
  padding: 10px 12px;
  border-radius: 6px;
  margin-bottom: 8px;
  cursor: pointer;
}

.option input {
  margin-right: 15px;
}
.opcoes .option {
  display: flex;
  align-items: center;
  background: #ddd6d6;
  color: #000;
  padding: 10px 12px;
  border-radius: 6px;
  margin-bottom: 8px;
  cursor: pointer;
}

.botoes button {
  margin-top: 10px;
  background: #020202;
  border: 1px solid #555;
  padding: 10px 20px;
  color: #e5dcdc;
  border-radius: 6px;
  cursor: pointer;
}

.botoes button:disabled {
  opacity: 0.5;
  
}

.botoes button:disabled:hover {
  background: #fffbfb;
}
