@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@400;700&display=swap');

:root {
  --tamanho-header: 80px;
  --tamanho-footer: 65px;
  --tamanho-banner: calc(100vh - var(--tamanho-header) - var(--tamanho-footer) - 2px);
  --tamanho-login: calc(100vh - var(--tamanho-header) - var(--tamanho-footer) - 2px);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Cinzel Decorative', serif;
}

html {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  background: #000;
  display: flex;
  flex-direction: column;
}

.header {
  height: var(--tamanho-header);
  border-bottom: 2px solid #000;
  background: rgba(0, 0, 0, 0.6);
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}

.header .container {
  display: flex;
  align-items: center;
}

.header .titulo {
  background-image: url('../assets/icon/logosiyte.png');
  background-size: contain;
  background-repeat: no-repeat;
  width: 300px;
  height: 80px;
  cursor: pointer;
  margin-right: 40px;
}

.navbar {
  list-style: none;
  display: flex;
  gap: 69px;
  flex: 1;
  justify-content: center;
}

.navbar li a {
  text-decoration: none;
  color: #fff;
  font-size: 15px;
  transition: 0.3s;
}

.navbar li a:hover {
  color: #ff0606;
}

.btn-login,
.btn-cadastro {
  background: #29282850;
  color: #000;
  border: none;
  border-radius: 10px;
  padding: 8px 20px;
  font-weight: bold;
  transition: 0.3s;
}

.btn-login:hover,
.btn-cadastro:hover {
  background: #000;
}


.social {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 120px 0;
  flex: 1;
  background: #000;
}

.social .container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.frase {
  font-size: 32px;
  font-weight: bold;
  color: #fff;
  text-align: center;
  margin-bottom: 30px;
}

.social {
  background-image: url("../assets/imgs/possivelfundo2.webp");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 120px 0;
  min-height: 600px;
  flex: 1;
}

.social .container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;

}

.boxes {
  display: flex;
  justify-content: space-between;
  gap: 30px;
  margin-top: 40px;
  flex-wrap: 10px;
}

.box {
  background-color: #00000088;
  justify-content: center;
  border: 1px solid #000000;
  border-radius: 50px;
  padding: 50px;
  width: 80%;
  height: auto;

}

.box Ods {
  background-color: #ff8be6;
  border: 1px solid #444;
  border-radius: 12px;
  padding: 20px;
  width: 48%;

}

.box Ods2 {
  background-color: #e0e420;
  border: 1px solid #444;
  border-radius: 12px;
  padding: 20px;
  width: 48%;

}

.box img {
  width: 610px;
  border: 1px solid #444;
  display: block;
  margin: auto;
}

.titulo-ods {
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  margin-top: 15px;
}


.box p {
  font-size: 25px;
  font-family: "Keania One", cursive;
  margin: 0;
  color: aliceblue;
}

.frase {
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 30px;
  text-align: center;
  color: #fff;
  width: 100%;
  display: flex;
  justify-content: center;
}


.card-personagem {
  display: flex;
  gap: 20px;
  width: 800px;
  height: 320px;
  padding: 15px;
  border: 2px solid #05060f;
  border-radius: 10px;
  background: #0000007c;
  margin: 20px auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.card-personagem img {
  width: 200px;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.info-personagem {
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.nome {
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 10px;
  color: red;
}

.desc {
  font-size: 20px;
  line-height: 1.5;
}

.botoes {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin: 20px auto;
}

.botoes button {
  padding: 10px 20px;
  border: none;
  background-color: rgb(107, 2, 2);
  color: black;
  font-size: 18px;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s;
}

.botoes button:hover {
  background: #fff;
  transform: scale(1.05);
}


.chamada-final {
  text-align: center;
  margin: 40px 0;
  color: #fff;
  font-size: 25px;
}

.chamada-final a {
  padding: 10px 20px;
  border: none;
  background-color: rgb(107, 2, 2);
  color: rgb(0, 0, 0);
  font-size: 18px;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s;
}

.chamada-final a:hover {
  background: #ffffff;
  transform: scale(1.05);
}



.footer {
  background: #000;
  height: var(--tamanho-footer);
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: auto;
}

.footer .version {
  font-size: 12px;
}